<div id="productos" class="container d-flex flex-wrap justify-content-evenly">
{{#each products}}
<link rel="stylesheet" href="../../public/products.css">
<div class="card" style="width: 15rem;">
  <img src={{this.photo}} class="card-img-top" alt="...">
    <h5 class="card-title">{{this.title}}</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this.price}}</li>
    <li class="list-group-item">{{this.stock}} </li>
  </ul>
</div>
{{/each}}
</div>
<script src="/scripts/real.js"></script>