
<link rel="stylesheet" href="form.css">
 <main class="flex-grow-1 p-3 m-auto my-2 container">
  <h2 class="text-center">CREATE A NEW USER!</h2>
  <form class="form" style="width: 320px;">
    <div class="mb-3 text-center">
      <label for="email" class="form-label mb-0">Email</label>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-center">
      <label for="password" class="form-label mb-0">Password</label>
      <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3 text-center">
      <label for="lastName" class="form-label mb-0">Last Name</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3 text-center">
      <label for="photo" class="form-label mb-0">Photo</label>
      <input type="text" class="form-control" id="photo">
    </div>
    <div class="mb-3 text-center">
      <label for="age" class="form-label mb-0">Age</label>
      <input type="number" class="form-control" id="age">
    </div>
    <button id="register" type="button" class="w-100 btn btn-danger">CREATE!</button>
  </form>
</main>


<script src="/scripts/register.js"></script>

