
{{!-- <link rel="stylesheet" href="form.css"> --}}
 <main class="flex-grow-1 p-3 m-auto my-2 container">
  <h2 class="text-center">Registrate como empleado</h2>
  <form class="form" style="width: 320px;">
    <div class="mb-3 text-center">
      <label for="email" class="form-label mb-0">Correo Electrónico</label>
      <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-center">
      <label for="password" class="form-label mb-0">Contraseña</label>
      <input type="password" class="form-control" id="password" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Nombre</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3 text-center">
      <label for="lastName" class="form-label mb-0">Apellido</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="mb-3 text-center">
      <label for="photo" class="form-label mb-0">Foto</label>
      <input type="text" class="form-control" id="photo">
    </div>
    <button id="registerButton" type="button" class="w-100 btn btn-danger">CREATE!</button>
  </form>
</main>


<script src="/scripts/register.js"></script>

