
  #carouselExample {
    width: 100%;
    height: 100vh; 
    overflow: hidden;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%; 
  }
