<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="main.css"> --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="/scripts/signout.js"></script>
    <title>{{title}}</title>
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Portes San Vicente</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="home" >
          <a class="nav-link active" aria-current="page" href="/options">Home</a>
        </li>
        
        <li class="nav-item" id="newProduct">
          <a class="nav-link" href="/products/form">Nuevo porte</a>
        </li>
        <li class="nav-item" id="registerButton">
          <a class="nav-link" href="/sessions/register">Register</a>
        </li>
        <li class="nav-item" id="loginButton">
          <a class="nav-link" href="/sessions/login">Login</a>
        </li>
        <li class="nav-item" id="signout">
          <span id="signout" class="btn btn-danger">Signout</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
    {{{body}}}
    <footer></footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>